/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*/
@import url("http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic");
* {
  font-family: "Lora"
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(128,200,181,0.8);;
}
header nav {
  float: right;
} 
header button {
  outline: none;
  width: 100px;
  padding: 10px;
  margin: 10px;
  background-color: #4DB788;
  border-radius: 10px;
  border: 1px solid #80C8B5;
}
header a:link, header a:link:hover, header a:active, header a:visited {
  display: block;
  text-decoration: none;
  color: white;
}
header button a {
  color: #ffffff;
  font-family: arial;
  font-size: 17px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
header button:hover {
  background-color:#332F3E;
}
header button:active {
  box-shadow: 0 0 10px #888888;
}
#header_text {
  text-shadow: 0px 1px 0px lightgray;
  top: 5px;
  font-size: 2.5em;
  position: relative;
  display: inline-block;
  margin-left: 10px;
  color: white; 
}
#container {
  margin-top: 75px;
  margin-left: 25px;
}
