// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#group-name {
  font-size: 5em;
  line-height: 1em;
  width: 100%;
  text-align: center;
  color: white;
  margin: 15px;
}

#timeline {
	color: white;
	background: rgba(51,47,62,0.8);
	width: 70%;
	padding: 10px;
	border-radius: 10px;
	margin: 0 auto;
	font-size: 1.2em;
}

.post, .snippet {
	border-radius: 5px;
	width: 90%;
	text-align: left;
	padding: 5px;
	margin: 0 auto;
}